{% extends "assignments/base.jinja" %}

{% block title %}Assignments Login{% endblock %}

{% block head %}
<style>
::placeholder { color: rgb(163, 163, 163) !important; }
</style>
{% endblock %}

{% block content %}
<h1 class="mb-4 text-center">CAS Login</h1>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card bg-dark border-light text-light">
            <div class="card-body">
                <form id="loginForm" onsubmit="return login()">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control bg-dark text-light border-light" id="username" placeholder="Enter your username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control bg-dark text-light border-light" id="password" placeholder="Enter your password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
        <p class="mt-4">Your encrypted password will only be stored in your browser. It will be sent to the server to retrieve tokens for OWL and Recodex.</p>
    </div>
</div>
{% endblock %}
