<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Šimon Kala</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header class="container">
        <nav class="navbar">
            <a href="index.html" class="lead active">Šimon Kala</a>
        </nav> 
    </header>
    <article class="container">
        <h1 class="text-center">Osobní stránky Šimona Kaly</h1>
        <p class="text-center">Zde brzy budou moje osobní stránky.</p>
    </article>
</body>
</html>